*{font-family: 微软雅黑;}
a{color:inherit;}
a:hover{text-decoration:none;}
a:link{text-decoration:none;}

.top-index{position:absolute;left:0px;top:0px;width:100%;z-index:999;min-width: 1000px;}
.top-index-white{height:52px;width:100%;}

.index-banner{height:100%;min-width: 1000px;max-width:1912px;height:512px;;margin:0 auto;position: relative;overflow:hidden;min-height: 300px;}
.banner-imgs img{width:1912px; vertical-align:bottom;height: 512px;}
.banner-imgs{position:absolute;width:1000%;height:auto;left:0px;top:0px;z-index:100;}
.banner-imgs li{float:left;width:10%;overflow: hidden;text-align: center;height: 512px;position: relative;}
.banner-imgs li a{float: left;width:200%;position:absolute;left:-50%;text-align: center;cursor:default;}
.banner-imgs li a img{cursor: pointer;}

.dis-img{width:100%;opacity: 0;}
.index-banner .banner-index{width:100%;height:20px;position:absolute;bottom:30px;left:0px;text-align:center;z-index:111;}
.index-banner .banner-index li{margin:0px 5px;height:10px;width:10px;display: inline-block;list-style: none;background:url(../../images/bannerN.png) no-repeat;cursor: pointer;}
.index-banner .banner-index .bannerC{height:10px;width:35px;background:url(../../images/bannerC.png) no-repeat;}

.index-sec{width:1000px;margin:0 auto;padding:25px 0px;}
.index-sec .sec-title{font-weight: bold;font-size:25px;width:70px;height: 60px;display: inline-block;vertical-align:middle;line-height: 30px;padding:0px 5px;}
.index-sec .sec-content{display: inline-block;vertical-align: middle;font-size: 12px;color:rgb(153,153,153);}

.index-middle{width:100%;height:auto;background:rgb(241,241,241);}
.index-kuaiman{width:1000px;margin:0px auto;padding-top:20px;}
.index-kuaiman .kuaiman-left{background: url(../../images/kuai.jpg) no-repeat;height:118px;padding-left:40px;cursor:pointer;}
.index-kuaiman .kuaiman-right{background: url(../../images/man.jpg) no-repeat 10px 0px;height: 118px;padding-left:50px;cursor:pointer;}
.index-kuaiman .kuaiman-title{font-size:38px;display: inline-block;vertical-align: middle;height: 118px;line-height: 118px;color:#FFF;font-weight: bold;}
.index-kuaiman .kuaiman-content{margin-left:15px;font-size:12px;display: inline-block;vertical-align: middle;height: 118px;line-height:15px;padding-top: 46px;color:#FFF;}
.index-kuaiman .kuaiman-content span{color:rgb(253,210,0);}
.index-kuaiman .kuaiman-link{margin-left:50px;cursor: pointer;}

.index-hot{margin:0 auto;width:1000px;padding:15px 0px;}
.index-hot .hot-title{padding-bottom:10px;}
.index-hot .hot-txt{padding-left:30px;background: url(../../images/hot.png) no-repeat 4px 2px;color:rgb(255,53,0);line-height: 20px;font-size:16px;font-weight: bold;}
.index-hot .hot-txt2{padding-left:30px;font-size:12px;line-height: 20px;color:rgb(154,154,154);}
.index-hot .hot-carbox{padding-bottom: 20px;}
.index-hot .hot-carbox .hot-carimg{width:740px;height:255px;position: relative;display: inline-block;vertical-align: top;}
.index-hot .hot-carbox .hot-carimg img{width:740px;height:255px;}
.index-hot .hot-carbox .hot-carnews{padding-left:13px;width:255px;height:255px;display: inline-block;vertical-align: top;cursor: pointer;}
.index-hot .hot-carbox .hot-carnews1{background: url(../../images/hotcarnew1.png) no-repeat 13px 0px;color:#333;}
.index-hot .hot-carbox .hot-carnews2{background: url(../../images/hotcarnew2.png) no-repeat 13px 0px;color:#FFF;}
.index-hot .hot-carbox .hot-carnews3{background: url(../../images/hotcarnew3.png) no-repeat 13px 0px;color:#FFF;}
.index-hot .hot-carbox .hot-carnews4{background: url(../../images/hotcarnew4.png) no-repeat 13px 0px;color:#FFF;}
.hot-carimg .carimg-title{height:55px;width:100%;background:rgba(3,3,3,0.7);position:absolute;bottom:0px;left:0px;}
.hot-carimg .carimg-title span{padding-left:30px;color:#FFF;font-size:16px;line-height: 55px;}
.hot-carimg .carimg-title .hot-car-btn{float: right;width:135px;font-size:18px;height: 55px;background:url(../../images/gotheme.png) no-repeat 100px 18px rgb(255,53,0);color:#FFF;line-height: 55px;text-align: center;}
.hot-carnews .carnews-head{padding:0px 15px;}
.hot-carnews .carnews-line{padding:0px 15px;color:rgb(154,154,154);font-size:15px;}
.hot-carnews .carnews-content{padding:5px 25px;color:rgb(154,154,154);font-size:12px;line-height: 18px;height: 106px;}
.hot-carnews .carnews-btn{text-align: center;margin-top:15px;}
.hot-carnews .carnews-btn a{width:100px;height:33px;line-height: 33px;font-size:13px;text-align: center;display: inline-block;border:solid rgb(253,53,0) 1px;color:rgb(253,53,0);background:url(../../images/moredetail.png) no-repeat 75px 12px;}
.index-news-right{display: inline-block;vertical-align: middle;font-weight: 600;padding-top: 25px;font-size:17px;}

.index-news-right span{vertical-align: middle;font-weight: 300;font-size: 14px;color:inherit;}
.index-news{margin:0 auto;width:1000px;padding-bottom:20px;}
.index-news .news-title-left{width:200px;display: inline-block;padding-left:30px;color:#333;background: url(../../images/carnew.png) no-repeat 0px 10px;padding-top:5px;font-weight: bold;font-size:16px;line-height: 30px;}
.index-news .news-more{float: right;padding-top:5px;color:#CCC;line-height: 30px;font-size:12px;}
.index-news .news-list{margin-top:10px;}
.index-news .news-item{padding-left:0px;width:290px;float: left;margin-left:65px;}

.index-news .news-item .news-item-img{width:290px;height:193px;position: relative;overflow: hidden;}
.index-news .news-item .news-item-img img{max-width:290px;height:193px;position: absolute;top:0px;left:0px;}
/*.index-news .news-item .news-item-img img{text-align: center;vertical-align: middle;width:290px;height:145px;}*/
.index-gift{position:fixed;left:10px;bottom:10%;z-index: 999;}
.index-gift img{cursor: pointer;}
.index-giftbox{position:fixed;left:0px;top:0px;z-index: 9999;background: rgba(0,0,0,0.5);width: 100%;height: 100%;display: none;}
.index-giftbox div{width:518px;height:490px;margin:100px auto;}   
    
.index-news .news-item .news-item-title{margin:20px 0px 0px 0px;font-weight:bold;}
.index-news .news-item .news-item-content{margin:20px 0px 0px 0px;color:rgb(154,154,154);font-size:15px;line-height:19px;}
.new-item-first{margin-left:0px!important;}

.index-hotsale{margin:0 auto;width:1000px;padding:10px 0px;}
.hotsale-title{padding-left:30px;background: url(../../images/re.png) no-repeat 4px 2px;color:rgb(3,3,3);line-height: 25px;font-size:16px;font-weight: bold; padding-bottom: 10px;}
.hotsale-item{width:490px;float:left;margin-left:10px;height:215px;margin-bottom:20px;cursor:pointer;}
.hotsale-img{width:300px;height:220px;float: left;}
.hotsale-img img{width:300px;height:220px;}
.hotsale-content{width:180px;height:220px;float: left;background: #FFF;padding-left:10px;padding-top:40px;padding-right:10px;}
.hotsale-item-first{margin-left:0px!important;}
.hotsale-content-title{color:#111;font-size:14px;padding-bottom:5px;height:50px;border-bottom:solid 1px #AAA;}
.hotsale-content-content{color:rgb(154,154,154);font-size:12px;padding-bottom:15px;padding-top:10px;}
.hotsale-content-price1{color:rgb(154,154,154);font-size:12px;text-decoration:line-through;}
.hotsale-content-price2{color:#111;font-size:14px;}
.hotsale-content-price2 b{color:rgb(255,53,0);font-size:24px;}

.index-disc{margin:0 auto;width:1000px;padding:0px 0px;}
.disc-title{padding-left:30px;background: url(../../images/te.png) no-repeat 4px 2px;color:rgb(3,3,3);line-height: 25px;font-size:16px;font-weight: bold; padding-bottom: 10px; margin-top: -10px;}
.disc-item{width:240px;height:250px;margin-left:10px;float:left;background:#FFF;margin-bottom:10px;position:relative;}
.disc-item .disc-img{width:240px;height: 130px;display: block;text-align: center;}
.disc-item .disc-img img{display: inline-block;vertical-align: middle;max-width: 240px;max-height: 130px;}
.disc-item-first{margin-left:0px!important;}
.disc-item .disc-content{padding:5px 25px;color:#333;font-size:14px;height:50px;}
.disc-item .disc-price1{padding:5px 25px;color:rgb(154,154,154); text-decoration:line-through; }
.disc-item .disc-price2,.disc-price3{padding:5px 25px;color:rgb(154,154,154);}
.disc-item .disc-price2 span{color:#333;}
.disc-item .disc-price3 span{color:#333;}
.disc-item .disc-price2 b{font-size:19px;color:rgb(255,53,0)}
.disc-item .disc-price3 b{font-size:19px;color:rgb(255,53,0)}
.spe-box{display: none;}
.disc-spe .spe-box{display: block;position:absolute;left:0px;top:0px;width:45px;height:30px;text-align: center;line-height: 30px;color:#FFF;background:rgb(255,53,0);font-size:12px;}
.disc-spe .spe-box:after{content:"特价";}

.index-bottom{height:50px;}
.index-right-gift{position:fixed;right:0px;bottom:100px;z-index:999;}
.index-right-gift * { box-sizing: border-box; font-size: 14px; line-height: 1.42857143; }
.index-right-gift p{height: 56px;position:relative;margin: 0!important;}
.index-right-gift .show-right{width:56px;height:56px;float:right;text-align:center;background: rgb(255,51,0);color:#FFF;padding-top:8px;display: none;}
.index-right-gift a{float: right; background-color: #fff; }
.show-tel-detail{display:none;}
.show-tel-detail .show-tel-float{position:absolute;right:56px;}
.show_top{display: none;}

/*我要吐槽*/
.tc-btn { display: block; width: 56px; padding: 8px 0px 8px; text-align: center; color: #fff; background-color: #f30; }
.tc-content { width: 438px; height: 354px; box-shadow: 0; background: url(../../images/tc-content.png) no-repeat; margin: 0 auto; }
.tc-content textarea { display: block; width: 350px; margin: 0 auto; height: 145px; margin-top: 60px; background: none; overflow: hidden; border: 0; outline: none; }
.tc-content .op-line { margin-left: 215px; }
.tc-content .op-line.line-top { margin-top: 138px; }
.tc-content .send-content { overflow: hidden; width: 340px; margin: 0 auto; margin-top: 50px; text-align:  center; }
.tc-content .send-content .cfm-btn { width: 140px; height: 40px; line-height: 40px;   color: #fff; background-color: #f30; border-radius: 4px; padding: 0 12px; }
.tc-content .send-content .pic-verify { float: left; height: 40px;  display: none; margin-right: 20px; width: 162px; border-bottom: 1px solid #ccc; }
.tc-content .send-content .pic-verify input { width: 85px; }
.tc-content .send-content .pic-verify img { width: 70px; }

/*获取洗车券*/
.xcq-content{ width: 491px; height: 266px; margin: 0 auto; background: url(../../images/xcq-content.png); box-shadow: none; border:0;}
.xcq-content p{ margin: 0 auto; font-size: 12px;}
.xcq-content .f-top{ margin-top:81px;}
.get-xcq { width: 300px; height: 40px; background: #fff; border-bottom: 1px #e3e4e8 solid; margin-top: 15px; }
.get-xcq .shadow { border-bottom: 2px #ff3300 solid; }
.get-xcq  input { width: 200px; height: 40px; line-height: 40px\9; float: left; }
.get-xcq  span.tel-word { width: 50px; height: 18px; background-position: -245px -534px; float: left; margin: 11px; }
.get-xcq  span.pw-word { width: 50px; height: 20px; background-position: -296px -529px; float: left; margin: 11px; }
.get-xcq .yz-code { width: 102px; }
.get-xcq .get-sms-verify-b { height: 40px; display: inline-block; line-height: 40px; color: #ff3300; }
.sub-btn { margin: 28px auto 0px; width: 323px; overflow: hidden; }
.sub-btn input { width: 148px; height: 30px; border: 1px solid #999999; border-radius: 4px; color: #999; }
.sub-btn input.no-send { margin-right: 20px; float: left; }
.sub-btn input.finish-btn{  background-color: #f30; border-color: #f30; color: #fff; }
.sub-btn input.finish-btn:disabled { background-color: #ccc; border-color: #ccc; }
#fankui{display: none;}
#tucao-box .shadow{ border-bottom:2px #ff3300 solid;}
