doctype html
html
	head
		base(href="/")
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
		meta(name='renderer', content='webkit')
		meta(name='keywords', content='keywords')
		meta(name='description', content='description')
		meta(name='x5-page-mode', content='app')
		meta(name='x5-orientation', content='portrait')
		meta(name='layoutmode', content='standard')
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='browsermode', content='application')
		meta(name='screen-orientation', content='portrait')
		meta(name='format-detection', content='telephone=no')
		meta(name='apple-mobile-web-app-title', content='ti')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		title= title
		block link
			link(rel='stylesheet', href='/css/wap.css')
		block head

	body
		block content
		block footer
