<div ng-controller class="index-bottom">
    <section class="index-cardate">
        <div class="cardate-title">
            <h4 class="cardate-word">提车日记</h4>
            <a class="cardate-link">更多</a>
        </div>
        <ul class="cardate-list">
            <li>
                <a href="">
                    <i class="cardate-img">
                        <img src="public/img/cardatetestimg.jpg"/>
                    </i>
                    <dl class="cardate-text">
                        <dt>帮女神买车是一种怎么样的体验？</dt>
                    </dl>
                </a>
            </li>
        </ul>
    </section>
</div>

