@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
	font-size:15px;
	font-family: 'Yuanti','微软雅黑';
	font-weight:normal;
} 
body{
	background:#fafafa;	
}
table {
	border-collapse:collapse;
	border-spacing:0;
} 
.clear{
	clear:both;
}
fieldset,img {
	border:0
} 
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
} 
ol,ul {
	list-style:none
} 
caption,th {
	text-align:left
} 
.wrapper-about{
	width:1200px;
	margin:0 auto;
	padding-bottom:30px;	
}
.about_head{
	width:224px;
	float:left;
	border:1px #e4e4e4 solid;	
	background:#fff;
}
.about_kqc{
	border-top:5px #ff7b24 solid;	
	padding-top:10px;
}
.about_kqc h4{
	width:180px;
	height:40px;
	line-height:40px;	
	border-top:1px #d6d6d6 solid;
	margin:0 auto;
	font-size:18px;
}
.about_kqc h4.about_kqc_style{
	border-bottom:1px #d6d6d6 solid;
}
.about_kqc h4.kqc_bord{
	border-bottom:1px #d6d6d6 solid;
	border-top:0;
}
.about_kqc h4.con_us{
	border-bottom:1px #d6d6d6 solid;
}
.about_kqc h4.con_us span{
	background:url(../images/about_page.png) -32px -7px no-repeat;	
}
.about_kqc h4.about_kqc_style span{
	background:url(../images/about_page.png) -6px -8px no-repeat;	
}
.about_kqc h4.add_us span{
	background:url(../images/about_page.png) -60px -8px no-repeat;		
} 
.about_kqc h4.par_active span{
	background:url(../images/about_page.png) -87px -8px no-repeat;		
}
.about_kqc h4.web_map span{
	background:url(../images/about_page.png) -113px -7px no-repeat;		
} 
.about_kqc h4 span{
	width:24px;
	height:24px;
	display:block;
	float:left;
	margin:8px 15px 0 15px;
	background:url(../images/about_page.png) no-repeat;
	background-position:-144px -8px;	
}
.about_head ul {
	padding:8px 0;	
}
.about_head ul li a{
	width:132px;
	height:33px;
	line-height:33px;
	margin:0 auto;
	display:block;
	padding-left:20px;
}
.about_head ul li a:hover{
	color:#fff;
	background:#f19253;	
}

.about_head ul li a.nav-active{
	color:#fff;
	background:#f19253;	
}

.about_cont{
	width:965px;
	float:right;
	border:1px #e4e4e4 solid;	
	background:#fff;
	padding-bottom:50px;
}
.auth_deta h2{
	width:900px;
	height:75px;
	line-height:75px;
	font-size:24px;
	font-weight:normal;
	border-bottom:1px #d6d6d6 solid;
	margin:0 auto;	
	padding-left:20px;
	margin-bottom:30px;
}
.auth_deta img{	
	float:left;
	margin:35px 90px 0 20px;
	display:inline;
}
.auth_deta p{
	width:650px;
	float:left;	
	text-indent:2em;
	margin-top:5px;
	line-height:30px;
}

/**合作品牌**/
.coo_list{
	border-bottom:1px #d6d6d6 solid;	
}
.cooicon{
	float:left;
	margin:27px 35px 25px 30px;
	display:inline;
	display: table-cell;
	vertical-align:middle;
}
.cooicon i{
	width: 193px;
	height: 126px;
	background:url(../images/list_pinpai.jpg) no-repeat;
	display: block;
}
.cooicon i.yicheng{
	background-position: 0 -125px;
}
.cooicon i.jiebao{
	background-position: 0 -250px;
}
.cooicon i.luhu{
	background-position: 0 -375px;
}
.cooicon i.wo{
	background-position: 0 -500px;
}
.cooicon i.xinyue{
	background-position: 0 -625px;
}
.cooicon i.xuetielong{
	background-position: 0 -750px;
}
.cooicon i.xiyue{
	background-position: 0 -875px;
}
.cooicon i.yueda{
	background-position: 0 -1000px;
}
.cooicon i.biaozhi{
	background-position: 0 -1125px;
}
.cooicon i.audi{
	background-position: 0 -1250px;
}
.cooicon i.benchi{
	background-position: 0 -1375px;
}
.cooicon i.bmw{
	background-position: 0 -1500px;
}
.cooicon i.dasauto{
	background-position: 0 -1625px;
}
.cooicon i.chengxin{
	background-position: 0 -1750px;
}
.cooicon i.smile{
	background-position: 0 -1875px;
}
.cooicon i.lexus{
	background-position: 0 -2000px;
}
.coodeta{
	width:653px;
	float:left;	
	margin-top:25px;
}
.coodeta h4{
	font-size:24px;
	color:#46484b;	
	margin-bottom:5px;
}
.coodeta h4 a{
	color:#333;
}
.coodeta p{
	color:#666;
	line-height:25px;
	font-size:14px;
}
.coodeta a{
	color:#eb6101;
	margin-top:10px;
	display:inline-block;
}
.ycbz img{
	margin-top:18px;	
}
.luhu img{
	margin-top:30px;	
}
.volvo img{
	margin-top:48px;	
}

/**买车流程**/
.buycar_con{
	width:880px;
	height:620px;
	margin:0 auto;
	background:url(../images/buycar.png) no-repeat;	
}
.temai_process{
	width:590px;
	margin-left:260px;
}
.buycar_title h3,.buycar_title h4{
	font-size:18px;	
	color:#666666;
}
.buycar_title h4{
	padding:8px 0;	
}
.buycar_title p{
	font-size:14px;
	line-height:25px;
	color:#666;
}
.not_temai_process{
	margin-top:68px;
	margin-left:260px;	
}
.ser_process{
	margin-top:80px;
	margin-left:50px;	
}
.defray,.finish{
	margin-top: 60px;
	margin-left: 50px;
}
/**快抢车简介**/
.intro_cont p{
	width: 860px;
	margin:0 auto;
	line-height: 30px;
	text-indent: 2em;
	padding:5px 0;
	font-size: 16px;
	color:#666666;
}
.intro_cont p span{
	color: #ff771d;
}
.vip_service h4{
	color:#ff771d;
	margin-left: 45px;
	font-size: 18px;
	padding-bottom: 20px;
}
.service_cont{
	height:552px;
	background:url(../images/sellcar_03.png) left center no-repeat;
	margin-left: 40px;
	position: relative;
}
.ser_one{
	position: absolute;
	top:0px;
	left:60px;
}
.ser_two{
	position: absolute;
	top:145px;
	left:60px;
}
.ser_three{
	position: absolute;
	top:284px;
	left:60px;
}
.ser_fore{
	position: absolute;
	top:455px;
	left:60px;
}
.common_style h4{
	font-size: 18px;
	color:#666;
	padding: 10px 0; 
}
.common_style  p{
	width: 780px;
	color: #666;
	line-height: 28px;
	font-size: 14px;
}
.common_style  p span{
	color:#ff771d;
}
.tech{
	padding: 15px 0 15px 30px;
	margin-left: 30px;
}
.tech p{
	font-size: 18px;
	line-height: 33px;
	color:#666;
}
.tech span a{
	color:#ff771d;
	width:110px;
	display: inline-block;
}
/**公司地址**/
.map{
	width: 880px;
	height: 80px;
	border-bottom: 1px #d6d6d6 solid;
	margin:0 auto;
	line-height: 33px;
	padding-top: 20px;
	padding-left:20px;
}
.map h2{
	font-size: 24px;
	color:#333;
}
.map small{
	font-size: 14px;
	color:#666;
}
.map_content{
	width: 845px;
	margin:0 auto;
	margin-top:35px;
}
.map_content a img{
	float:left;
}
.cn_network{
	border-collapse: collapse;
	margin-top:80px;
	float: left;
	margin-left: 30px;
}
.cn_network tr td {
	height: 60px;
	font-size:16px;
	color:#666;
}
.cn_network tr td i.odd_map{
	width:23px;
	height: 33px;
	background:url(../images/about_page.png) -7px -40px no-repeat;
	display:block;
}
.cn_network tr td i.tel{
	width:23px;
	height: 33px;
	background:url(../images/about_page.png) -76px -40px no-repeat;
	display:block;
}
.cn_network tr td i.email{
	width:24px;
	height: 17px;
	background:url(../images/about_page.png) -43px -49px no-repeat;
	display:block;
	vertical-align:middle;
}
/**有情连接**/
.link_cont{
	padding-left: 45px;
}
.link-list a{
	float: left;
	display: block;
	margin-right:40px;
}
.link-info {
	margin-top:80px;
}
.link-info h4{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.link-info p{
	width: 850px;
	line-height: 35px;
	word-break:break-all;  
}
/**网站地图**/
.webwrap{
	width: 855px;
	margin:0 auto;
	margin-top:20px;
	border-bottom:1px #d9d9d9 dashed;
	padding-bottom: 5px;
}
.webwrap h4{
	font-size: 16px;
	font-weight: bold;
	color:#555;
}
.webwrap ul li{
	float: left;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
}
.webwrap span{
	float: left;
	line-height: 45px;
	color:#d9d9d9;
}
/**专题活动**/
.part-list{
	width:880px;
	margin: 0 auto;
	padding:33px 0;
	border-bottom: 1px #d6d6d6 solid;
}
.parti_img{
	float: left;
}
.part-list-con{
	float: left;
	margin-left: 50px;
	height: 170px;
	position: relative;
}
.part-list-con h4{
	font-size: 28px;
	color:#555;
}
.part-list-con p{
	padding-top: 10px;
	line-height: 25px;
	color:#666;
}
.part-list-con p span{
	float: left;
	color:#666;
}
.part-list-con p span i{
	width:25px;
	height: 25px;
	display:inline-block;
	background:url(../images/about_page.png) -109px -46px no-repeat;
	vertical-align: middle;
	margin-right: 8px;
}
.part-list-con p a{
	float: left;
	margin-left: 45px;
	display: inline;
	color:#ff7b24;
}
.part-list-con p.list-date{
	position: absolute;
	bottom: 0;
	left: 0;
}
/**微信**/
.weixin_page{
	height:850px;
	background:url(../images/weixin_02.jpg) center top no-repeat;	
	position:relative;
}
.foot_pos{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.foot_pos .foot-right p,.foot_pos .foot-left ul li a {
	font-size:12px;
}
/**合作品牌-详细**/
.coo_deta{
	width:850px;
	height: 125px;
	margin: 0 auto;
	border-bottom:1px #d6d6d6 solid;
}
.coo_deta h2 {
	width: 420px;
	margin: 0 auto;
	font-size: 32px;
	font-weight: normal;
	line-height: 125px;
	color:#46484b;
}
.coo_deta h2 i{
	width:122px;
	height: 54px;
	display: inline-block;
	background: url(../images/zong.png) no-repeat;
	vertical-align: middle;
	margin-right: 20px;
}
.descript p{

	width: 810px;
	text-indent: 2em;
	line-height: 26px;
	color:#666;
	margin:20px auto;
	font-size:18px;
}



.coo_list{
	position: relative;
}
.about-coo-list{
	width: 650px;
	
	color:#666;
	margin-top: 70px;
	margin:0 auto;
}
.about-coo-list p{
	width: 650px;
	line-height: 28px;
	text-indent: 2em;
	color: #666;
	font-size: 14px;
	padding: 10px 0;
}
.about-coo-list h4{
	font-size: 18px;
	font-weight: normal;
	margin: 50px 0 20px 0;
}
.about-coo-view{
	width: 800px;
	color:#666;
	margin-top: 70px;
	margin:0 auto;
}
.about-coo-view p{
	line-height: 28px;
	text-indent: 2em;
	color: #666;
	font-size: 14px;
	padding: 20px 0;
}
.about-coo-view h4{
	font-size: 18px;
	font-weight: normal;
	margin: 50px 0 20px 0;
}
