@charset "utf-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,a,address,b,big,center,cite,code,del,em,font,i,iframe,img,ins,label,small,span,strong,u{
	margin: 0;
	padding: 0
}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; } 
body{
	font-size: 12px;
	font-family:'微软雅黑';
	background-color: #f1f1f1;
}
ol,ul,li {
	list-style: none
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%
}
img {
	border: 0;
	vertical-align: middle
}
a {
	outline: 0;
	color: #45494f;
	text-decoration: none;
}
input,select,textarea {
	vertical-align: middle;
	*font-size: 100%;
	font-family: 'Yuanti','微软雅黑';
}
input,button{
	outline: 0;
	border:0;
	background: none;
}
input::-ms-clear {
	display: none;
}
.clear {
	clear: both;
}
.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: "."
}
.clearfix {
	*zoom: 1
}
.dp_none{
	display: none;
}

/*head*/
.header{
	background: #fff;
	border-bottom: 1px #ccc solid;
}
.top{
	width:1010px;
	margin:0 auto;
	padding-bottom: 20px;
	position: relative;
}
.logo,.nav,.login{
	float: left;
	margin-top: 15px;
}
.logo{
	width: 180px; 
	margin-right: 25px;
}
.logo a{
	float: left;
	margin-right: 20px;
}
.logo a.area{
	margin-top: 20px;
}
.logo span.area{
	font-size: 14px;
}
.login-img{
	width:96px;
	height: 47px;
	background-position: -98px -102px;
	vertical-align: middle;
	margin-top: 5px;
} 
.area-name{
	width:9px;
	height: 13px;
	background-position: -460px -26px;
	vertical-align: middle;
}
.hot-city{
	position: absolute;
	left: 110px;
	top: 61px;
	z-index: 10;
	padding: 7px 5px;
	background: #fff;
	border: 1px solid #e2e2e2;
}
.hot-city i {
  position: absolute;
  top: -7px;
  left: 20px;
  width: 14px;
  height: 7px;
  display: block;
  background: url(../images/new_index.png) -223px -536px no-repeat;
}
.hot-city ul li {
  line-height: 20px;
  float: left;
  margin: 0 10px;
}
.hot-city ul li span {
  color: #ff9900;
  border-left: 2px #e94c18 solid;
  padding-left: 10px;
}
.hot-city ul li a {
  color: #999999;
}
.nav{
	margin-top: 34px;
	margin-right: 30px;
}
.nav ul li{
	float: left;
	padding: 0 8px;
	font-size: 15px;
	color: #999;
}
.nav ul li a{
	color:#999;
}
.nav ul li a:hover{
	color: #ff3300;
}
.login{
	width: 435px;
	height: 52px;
	position: relative;
	float: right;
	margin-top: 0;
}
.login i{
	width:181px;
	height: 20px;
	background-position: -210px -64px;
	margin-top: 34px;
	float: left;
}
.login-in{
	position: absolute;
	width: 103px;
	height: 95px;
	background: #ff4e00;
	float: right;
	top:0;
	right: 0;
	z-index: 10;
}
.login-in span{
	width: 37px;
	height: 36px;
	background-position: -354px -11px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.login-in p{
	text-align: center;
	color: #fff;
	line-height: 30px;
	margin-top: 8px;
}
.login-in p a{color: #fff;}
.esc{
	/*width: 101px;
	height:24px;
	line-height: 24px;
	color:#666;
	border:1px #ccc solid;
	margin-top: 10px;
	background-color: #fff;
	text-align: center;*/
	display: none;
}
.esc a{
	display: block;
}
.login-in:hover .esc{display: block;}


/*foot*/
.foot{
	background-color: #1e1f22;
}
.foot-center{
	width:1010px;
	margin:0 auto;
}
.text-feature ul{
	padding:50px 0;
}
.text-feature ul li{
	float: left;
}
.text-feature ul li.pretect{
	width:170px;
	margin-right: 53px;
}
.text-feature ul li.low-price{
	width:145px;
	margin-right: 53px;
}
.text-feature ul li.first-car{
	width:160px;
	margin-right: 53px;
}
.text-feature ul li.quality{
	width:160px;
	margin-right: 55px;
}
.text-feature ul li.car-alt{
	width:158px;
}
.text-feature ul li i{
	float: left;
	margin-right: 20px;
	display: inline;
}
.text-feature ul li h6{
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	float: left;
}
.text-feature ul li p{
	width: 90px;
	color: #666;
	float: left;
}  
.text-feature ul li i.icon-a{
	width: 59px;
	height: 57px;
	background-position: -9px -161px;
}
.text-feature ul li i.icon-b{
	width: 26px;
	height: 46px;
	background-position: -134px -5px;
	margin-top: 7px;
}
.text-feature ul li i.icon-c{
	width: 42px;
	height: 44px;
	background-position: -175px -3px;
	margin-top: 5px;
}
.text-feature ul li i.icon-d{
	width: 41px;
	height: 28px;
	background-position: -418px -526px;
	margin-top: 5px;
}
.text-feature ul li i.icon-e{
	width: 48px;
	height: 41px;
	background-position: -231px -8px;
	margin-top: 5px;
}
.kqc-logo{
	width: 420px;
	float: left;
}
.kqc-logo i{
	width: 98px;
	height: 30px;
	background-position: -99px -65px;
	float: left;
	display: block;
}
.kqc-logo ul{
	float: left;
	margin-left: 30px;
	display: inline;
	margin-top: 8px;
}
.kqc-logo ul li{
	float: left; 
	margin: 0 10px;
	color:#ccc;
	position: relative;
}
.kqc-logo ul li a{
	color:#ccc;
}
.kqc-logo ul li .contact-us{
	padding: 10px;
	background-color: #fff;
	display: none;
	position: absolute;
	bottom: 18px;
	left: 0;
	z-index: 11;
	text-align:center;
	color: #999;
}
.kqc-logo ul li:hover .contact-us{
	display: block;
}
.kqc-logo ul li .contact-us h3{
	font-size:14px;
	font-weight: normal;
	margin: 10px auto;
}
.kqc-logo ul li .contact-us h3 span{color: #333;}
.kqc-logo ul li .contact-us p{
	width:180px;
	height: 30px;
	background-color: #ff3300;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
.link{width:510px;}
.link,.link ul{
	float: right;
}
.link span,.link ul li{
	float: left;
	color: #ccc;
	line-height: 24px;
}
.link span{
	height: 60px;
}
.link ul li{
	padding:0 8px;
}
.link ul li a{
	color:#ccc;
}
.footer{
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-top: 1px #303137 solid;
	margin-top: 30px;
	color: #67686f;
}
#foot{
	padding-top: 50px;
	background-color: #1e1f22;
}
/*结束*/

/****************************************************************************/
/*登录弹窗样式*/
.form-row-login span.tel-icon,.form-row-login span.pw-icon,.icon-mobile-member,.tab-center span
,.icon-times-circle-c{
	background: url(../images/new_index.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.form-new{
	width:310px;
	margin: 0 auto;
	margin-top: 30px;
}
.form-row-login{
	width: 300px;
	height: 40px;
	background: #fff;
	border-bottom:1px #e3e4e8 solid;
	margin-top: 15px;
}
.form-row-login.shadow{
	border-bottom:2px #ff3300 solid;
}

.form-row-login input{
	width:200px;
	height: 40px;
	line-height: 40px\9;
	float: left;
}
.form-row-login span.tel-word{
	width:50px;
	height:18px;
	background-position: -245px -534px;
	float: left;
	margin: 11px;
}
.form-row-login span.pw-word{
	width:50px;
	height:20px;
	background-position: -296px -529px;
	float: left;
	margin: 11px;
	
}
.submit-login{
	margin: 20px 0;
	margin-bottom: 14px;
	
}
.submit-login-btn{
	width:100%;
	height: 40px;
	background: #ff3300;
	color: #fff;
	line-height: 40px;
	display: block;
	border-radius: 5px;
	font-size:14px;
	text-align: center;
}
.submit-login-btn[disabled] {
	width:100%;
	height: 40px;
	background: #ccc;
	color: #fff;
	line-height: 40px;
	display: block;
	border-radius: 5px;
	font-size:14px;
	text-align: center;
}
.icon-mobile-member{
	width:23px;
	height: 23px;
	background-position: -263px -528px;
}
.tab-center{
	width: 300px;
	margin: 0 auto;
}
.dialog-tab-wrapper .dialog-tab .tab-btn-login{
	color:#ccc;
}
.dialog-tab-wrapper .dialog-tab .tab-btn-active-login{
	background: #fff;
	color: #ff3300;
}
.dialog-wrapper-bg{
	background: #fff;
}
.tab-center .tab-btn-active-login{
	height:40px;
	line-height: 40px;
	font-size:26px;
}
.tab-center span{
	color: #ccc;
	width:13px;
	height: 22px;
	background-position: -326px -531px;
	margin: 0 10px 
}
.form-row-login .yz-code{
	width: 102px;
}
.form-row-login .get-sms-verify-b{
	height: 40px;
	display: inline-block;
	line-height: 40px;
	color: #ff3300; 
}
.form-row-login .msgs1{ color: #333;}
.icon-times-circle-c{
	width:20px;
	height: 20px;
	background-position: -393px -534px;
	position: absolute;
	top:17px;
	right: 15px;
	cursor: pointer;
}
.new-logo{width: 112px;margin-left:30px; margin-top: -5px; padding-top: 20px;border-top: 5px #ff3300 solid; }
/*.ui_lt,.ui_rt,.ui_l,.ui_r,.ui_lb,.ui_b,.ui_t,.ui_rb{ background:none;border:1px #ccc solid; }*/
.ui_loading{height: 500px;}
.ui_main{height: 500px;}
.login-dialog{height: 500px;}
p.red-font{ color: #ff3300; text-align: left; font-size: 12px; margin-left: 11px; padding: 0; overflow: hidden;position: relative; width: 300px;}
#reg-btn{color: #f30;}
.voice{margin-top: 10px; text-align: right;padding-right: 10px;}
.voice .voice-verify{color: #2792ff; border:0px; background: none; cursor: pointer;}
.voice .voice-verify[disabled]{color: #ccc; }

/*-----------------------------------关于我们样式-----------------------------*/
.calcul_top{position: relative; z-index: 9;}
.imgBg{width:100%;height:auto;}
.imgBg img{width:100%;}
.mains{position:absolute;top:0px;left:0px;z-index:1;width:100%;height: auto;}
.mains .bgImg{width:100%;height:auto;}
.mains .bgImg2{width:100%;height:auto;position: absolute;left:0px;top:0px;}
.mains .contexts{width:100%;height: auto;position: relative;}
.mains .contexts .aboutUs{width:55%;min-width:500px;margin:0px auto;padding-top:120px;height:auto;text-align: left;}
.mains .contexts .txtAbout{width:60%;color:#888;float: left;}
.mains .contexts .txtAbout .txt{font-size:13px;line-height: 23px;}
.mains .contexts .txtAbout h1{font-size: 18px;line-height: 30px;}
.mains .contexts .qrcodeBox{width:35%;min-width: 200px;float: left;text-align: center;}
.mains .contexts .qrcodeBox img{max-width: 99%;margin:10px 0px 30px 10px;}


