body * { box-sizing:content-box; -webkit-box-sizing:content-box;}
.nevi{
	width: 100%;background-color: #f1f1f1;
}
.nevi-tit{
	line-height: 46px;font-size: 12px;margin: 0 auto;width: 1000px;color: #333;
}
.nevi-tit span{
	color: #999;
}
.nevi-tit a{
	color: #333;
}
.nevi-tit .infonow{
	color: #ccc;
}
.nevi-connect{
	width: 1000px;background: #fff;margin: 0 auto;
}
.nevicon-top{
	
}
.nevicon-top .nevic-left{
	padding: 23px 16px 0 27px;float: left;
}
.nevicon-top .nevic-left .nevicon-car{
	
}
.nevicon-top .nevic-left .nevicon-car img{
	display: block;background: #f1f1f1;width: 464px;height: 309px;
}
.nevicon-top .nevic-left ul{
	margin-top: 15px;
}
.nevicon-top .nevic-left ul li{
	float: left;color: #333;background-image: url(../images/newview/neviul.png);width: 80px;padding-left: 38px;
	background-repeat: no-repeat;line-height: 24px;border-right: 1px solid #999;
}
.nevicon-top .nevi-ul1{
	background-position: 10px center;
}
.nevicon-top .nevi-ul2{
	background-position: -110px center;
}
.nevicon-top .nevi-ul3{
	background-position: -224px center;
}
.nevicon-top .nevi-ul4{
	background-position: -340px center;border: none!important;
}
.nevicon-top .nevishare{
	line-height: 80px;height: 80px;font-size: 14px;
}
.nevicon-top .nevishare span{
	float: left;color: #999;
}
.nevicon-top .nevishare a{
	float: left;display: block;margin: 28px 4px 0 4px;
} 
.nevicon-top .nevishare a.no-margin {
	padding: 0px;
	margin: 0px;
}
.nevicon-top .nevishare a i{
	background-image: url(../images/newview/nevi-ico.png);background-repeat: no-repeat;width:25px;height: 25px;display: inline-block;
}
.nevicon-top .nevishare a i.weixin{
	background-position: 0px 0px;
}
.nevicon-top .nevishare a i.weibo{
	background-position: -32px 0px;
}
.nevicon-top .nevishare a i.tencent-qq{
	background-position: -64px 0px; 
}
.nevicon-top .nevishare p{
	float: left;color: #ff3300;font-weight: bold;margin-left: 12px;
}
.nevicon-top .nevishare .redpaper{
	background: url(../images/newview/nevi-ico.png) no-repeat -97px 0;display: inline-block;width: 24px;height: 24px;
	margin: 28px 0 0 6px;
}
.nevic-right{
	float: left;padding-top: 23px;
}
.nevic-right .nevnum{
	color: #ccc;font-size: 12px;margin-left: 342px;
}
.nevic-right .nevicname{
	color: #333;font-size: 16px;line-height: 26px;border-bottom: 1px solid #e6e6e6;padding-bottom: 17px;
}
.nevic-right .nevicname .nevihas{
	color: #fff;font-size: 12px;background: #ff3300;border-radius: 4px;width: 50px;text-align: center;display: inline-block;
	margin: 0 13px;
}
.nevic-right .nevic-face{
	height: 40px;line-height: 40px;margin: 15px 0;
}
.nevic-right .nevic-color{
	color: #999;font-size: 14px;float: left;margin: 0 45px 0 13px;
}
.nevic-right .nevic-color dt{
	float: left;
}
.nevic-right .nevic-color dd{
	float: left;
}
.nevic-right .nevic-color dd .nevcolimg{
	display: inline-block;border: 1px solid #d4d4d4;border-radius: 50%;width: 19px;height: 19px;margin:0 10px;vertical-align: middle;
	position: relative; top: -3px;
}
.nevic-right .nevic-money{
	
}
.nevic-right .nevic-money .nevic-mon{
	color: #333;font-size: 16px;float: left;
}
.nevic-right .nevic-money .nevic-mon strong{
	color: #ff3300;font-size: 42px;font-weight: bold;
}
.nevic-right .nevic-money .nevic-easy{
	float: left;margin-left: 16px;
}
.nevic-right .nevic-money .nevic-easy i{
	color: #fff;font-size: 14px;background: url(../images/newview/nevi-ico.png) no-repeat 0 -151px;display: block;
	width: 122px;height: 28px;text-align: center;line-height: 28px;
}
.nevic-right .nevic-money .nevic-easy span{
	color: #999;font-size: 12px;text-decoration: line-through;line-height: 30px;margin-left: 6px;
}
.nevic-right .nevic-calcul{
	border-bottom: 1px solid #e6e6e6;padding: 0 0 15px 13px;
}
.nevic-right .nevic-calcul span{
	color: #999;font-size: 12px;border: 1px solid #999;border-radius: 4px;width: 104px;height: 30px;line-height: 30px;
	background: url(../images/newview/nevi-ico.png) no-repeat -98px -35px;margin-top: 15px;display: block; cursor: pointer;
}
.nevic-right .nevic-calcul em{
	margin-left: 30px;
}
.nevic-right .nevic-offer{
	margin: 16px 0 0 13px;color: #999;font-size: 14px;line-height: 30px;height: 30px;
}
.nevic-right .nevic-offer h5{
	float: left;margin-right: 10px;
}
.nevic-right .nevic-offer p{
	float: left;width: 138px;background: #ededed;border-radius: 4px;padding-left: 12px;cursor: pointer; overflow: hidden;
}
.nevic-right .nevic-offer p{
	display: block; width: 100%;overflow: hidden;
}
.nevic-right .nevic-offer p span{
	background: url(../images/newview/nevi-ico.png) no-repeat -120px 0px;display: inline-block;width: 8px;height: 6px;
	float: right;margin: 12px 12px 0 0;
}
.nevic-right .nevic-offer .nevic-city{
	position: relative;float: left;
}

.nevic-right .nevic-offer .nevic-city ul.city-select1{
	position: absolute;top: 28px;left: 0px;border: 1px solid #e4e4e4;border-radius: 4px;background: #fff;color: #666;
	font-size: 12px;width: 148px;display: none;
}
.nevic-right .nevic-offer .nevic-city .total-city{
	position: absolute;top: 28px;left: 0px;border: 1px solid #e4e4e4;border-radius: 4px;background: #fff;color: #666;
	font-size: 12px;width: 296px;display: none;
	overflow: hidden;
}
.nevic-right .nevic-offer .nevic-city .total-city ul.province {
	width: 148px;
	height: 365px;
	float: left;
	overflow-y:scroll;
}

.nevic-right .nevic-offer .nevic-city ul.pro-city{
	width: 148px;
	height: 365px;
	float: left;
	overflow-y:scroll;
}

.nevic-right .nevic-offer .nevic-city ul li{
	cursor: pointer;padding-left: 13px;
}

.nevic-right .nevic-offer .nevic-city ul li:hover{
	background: #ccc;color: #fff;
}
.nevic-right .nevic-offer .nevic-lice{
	float: left;font-size: 12px;margin-left: 20px;
}
.nevic-right .nevic-offer .nevic-lice span{
	color: #333;
}
.nevic-right .nevic-chat{
	font-size: 12px;color: #000;line-height: 50px;margin-left: 13px;
}
.nevic-right .nevic-chat strong{
	color: #ff3300;
}
.nevic-right .nevic-price{
	line-height: 40px;height: 40px;margin-left: 13px;
}
.nevic-right .nevic-price a{
	width:168px;background-color: #ff4415;display: block;color: #fff;text-align:center;
	border-radius:5px;font-size: 15px;
}
.nevicon{
	padding-left: 28px;
}
.page-banner{
	padding-bottom: 36px;
}
.nevicon .nevititle{
	color: #333;font-size: 16px;font-weight: bold;height: 26px;line-height: 26px;
}
.nevicon .nevititle span{
	color: #ffffff;font-size: 11px;font-weight: normal;background: #ff3300;width: 115px;display: inline-block;text-transform: uppercase;	
	padding-left: 11px;margin-right: 14px;
}
.nevicon .nevititle span i{
	background-image: url(../images/newview/nevi-ico.png);background-repeat: no-repeat;height: 16px;display: inline-block;
	vertical-align: middle;margin-right: 8px;
}
.nevi-process .nevititle span i{
	background-position: 0 -70px;width: 13px;
}
.nevititle strong{
	vertical-align: middle;display: inline-block;margin: -14px 0 0 14px;color: #ccc;font-size: 12px;letter-spacing: 3px;
	width: 688px; overflow: hidden;
}
.pro-content{
	margin: 30px auto!important;
}
.pro-content ul li{
	margin: 0 23px!important;
}
.text-in{
	margin-top: 10px!important;line-height: 16px;width: 72px!important;color: #999!important;
}
.nevi-models .nevititle{ padding-bottom: 22px;}
.nevi-models .nevititle span i{
	background-position: -13px -70px;width: 30px;
}
.nevi-models{ padding-bottom: 32px;}
.nevi-models div{
	font-size: 14px;color: #999;line-height:24px;
}
.nevi-models div.car-detail{
	width: 900px;
}
.nevi-models img{
	display: block;
	width: 900px; 
}
.nevi-para .nevititle span i{
	background-position: -43px -70px;width: 16px;
}
.nevi-para .nevititle{
	margin-bottom: 34px;
}
.nevi-para dl{
	font-size: 12px;margin: 0 168px 0 13px;
}
.nevi-para dl dt{
	color: #666;line-height: 30px;border-top: 1px solid #dcdcdc;background: #f1f1f1;padding-left: 17px;
}
.nevi-para dl dd{
	color: #333;line-height: 30px;border-top: 1px solid #dcdcdc;padding-left: 19px;width: 376px;float: left;
	border-right: 1px solid #d9d9d9;
}
.nevi-para dl dd.nevnoline{
	border-right: none;
}

/*基本参数等*/
.nevi-para dl.base-para dd span{
	color: #999;display: inline-block;width: 85px;
}

/*更多参数*/
.nevi-para .neviinfo{
	border-bottom: 1px solid #dcdcdc;
}
.nevi-para .neviinfo  ul{
	background-color: #f1f1f1;
	overflow: hidden;
}
.nevi-para .neviinfo  li{
	float: left;color: #333;
}
.nevi-para .neviinfo  li a{
	color: #999;
}
.nevi-para .neviinfo  li a:hover{
	color: #ff3300;
}
.nevi-para .neviinfo  li.current a{
	color: #ff3300;
}

.nevi-para .neviinfo  li.qc-param span{
	margin: 0 9px;display: inline-block; width: 8px;
}
.nevi-para .neviinfo .param-detial:nth-child(2n){
	border-right: 0;
}
.nevi-para .neviinfo .param-detial span{
	display: inline-block;float: right;margin: 0px 17px 0 0;
}
.nevi-para .neviinfo .nevcircu span{
	border: 1px solid #cdcdcd;border-radius: 50%;height: 8px;background: #fff;
}
.nevi-para .neviinfo .nevred span{
	border-radius: 50%;height: 8px;background: #ff3300;
}
.nevi-para .neviinfo .nevsolid span{
	border-bottom: 1px solid #999;height: 3px;
}
.nevi-para .neviinfo .nevsolid{
	color: #cccccc;
}
.nevi-para .nevstandard{
	color: #333;font-size: 12px;height: 40px;line-height: 40px;margin-left: 62%;
}
.nevi-para .nevstandard span{
	width: 6px;display: inline-block;margin: 0 9px;
}
.nevi-para .nevstandard p{
	float: left;margin-right: 15px;
}
.nevi-para .nevstandard .nevstand1 span{
	border-radius: 50%;height: 6px;background: #000;
}
.nevi-para .nevstandard .nevstand2 span{
	border: 1px solid #cdcdcd;border-radius: 50%;height: 6px;background: #fff;
}
.nevi-para .nevstandard .nevstand3 span{
	border-top: 1px solid #000;height: 4px;
}

.nevi-service .nevititle span i{
	background-position: -59px -70px;width: 17px;
}
.nevi-service ul{
	margin: 0 0 68px 27px;width: 798px;
}
.nevi-service ul li{
	
}
.nevi-service ul li h4{
	color: #333;font-size: 32px;font-weight: bold;line-height: 52px;height: 52px;margin: 40px 0 23px;
}
.nevi-service ul li h4 span{
	background-image: url(../images/newview/nevi-ico.png);background-repeat: no-repeat;display: inline-block;width: 52px;
	height: 52px;vertical-align: middle;margin-right: 9px;
}
.nevi-service ul li p{ 
	color: #666;font-size: 14px;line-height: 24px;
}
.nevi-service ul li h4 .nevi-serv1{
	background-position: 0 -89px;
}
.nevi-service ul li h4 .nevi-serv2{
	background-position: -52px -89px;
}
.nevi-service ul li h4 .nevi-serv3{
	background-position: -103px -89px;
}
.nevi-service ul li h4 .nevi-serv4{
	background-position: -154px -89px;
}
.nevi-cars .nevititle span i{
	background-position: -76px -70px;width: 13px;
}
.nevi-cars .nevicarimg img{
	margin: 27px 0 0 34px;float: left;
	 width: 683px; height: 455px;
}
.nevi-cars .nevicar-right{
	float: left;margin: 27px 0 0 7px;width: 135px;
}
.nevi-cars .nevicar-right p{
	background: #323232;height: 31px;cursor: pointer;text-align: center;
}
.nevi-cars .nevicar-right p span{
	background-image: url(../images/newview/nevi-ico.png);background-repeat: no-repeat;width: 15px;height: 8px;display: inline-block;
	margin-top: 10px;
}
.nevi-cars .nevicar-right p.nevi-up span{
	background-position: -130px 0;
}
.nevi-cars .nevicar-right p.nevi-down span{
	background-position: -130px -8px;
}
.nevi-cars .nevicar-right .neviovh{
	margin: 3px 0;height: 386px;overflow: hidden;position: relative;
}
.nevi-cars .nevicar-right ul{
	position: absolute;top: 0;left: 0;
}
.nevi-cars .nevicar-right ul li{
	padding: 3px 0;
}
.nevi-cars .nevicar-right ul li img{
	display: block;
	width: 135px ; height: 90px; 
}
.nevi-recom{
	width: 1000px;margin: 0 auto;padding-bottom: 63px;
}
.nevi-recom .nevire-title{
	height: 60px;line-height: 60px;
}
.nevi-recom .nevire-title span{
	color: #333;font-size: 16px;font-weight: bold;border-left: 3px #ff3300 solid;padding-left: 10px;
}
.nevi-recom .nevire-title i{
	color: #999;font-size: 12px;margin-left: 15px;
}
.nevi-recom .nevire-title p{
	float: right;margin:0 7px 0 2px;
}
.nevi-recom .nevire-title p a{
	color: #ff3300;font-size: 12px;
}
.nevi-recom .nevire-list{
	
}
.nevi-recom .nevire-list li{
	width: 240px;background: #fff;margin-right: 10px;float: left;padding-bottom: 26px;
	height: 253px;
}
.nevi-recom .nevire-list li img{
	display: block;
	    width: 240px;
    height: 160px;
}
.nevi-recom .nevire-list li .nevcon{
	padding-left: 22px;
	padding-right: 22px;
}
.nevi-recom .nevire-list li h3{
	font-size: 13px;color: #333;line-height: 20px; height: 37px;
}
.nevi-recom .nevire-list li p{
	font-size: 12px;color: #999;
}
.nevi-recom .nevire-list li p.nevire-guide{
	text-decoration: line-through;margin-top: 12px;
}
.nevi-recom .nevire-list li p.nevire-free i{
	color: #333;
}
.nevi-recom .nevire-list li p.nevire-free span{
	color: #ff3300;font-size: 19px;font-weight: bold;
}
.nevi-recom .nevire-list li.nevimp{
	position: relative;
}
.nevi-recom .nevire-list li .nevred{
	background: #ff3300;color: #fff;width: 41px;height: 27px;position: absolute;top: 0;left: 0;line-height: 27px;text-align: center;
}
.modals-ul {
    padding: 10px 30px 30px 30px;
}
.modals-ul li {
    padding: 8px 0px;
    color: rgb(169,169,169);
}
.neviinfo .dp_none{display: none;}


/*悬浮导航*/
.scroll-nav {
	height: 59px;
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
	display: none;
}
.scroll-nav .nav-center {
	width: 1000px;
	margin: 0 auto;
	line-height: 60px;
	height: 60px;
}
.scroll-nav .nav-center ul {
	width: 392px;
	float: left;
	overflow: hidden;
	margin-right: 220px;
}
.scroll-nav .nav-center ul li {
	float: left;
	width: 78px;
	padding-left: 20px;
}
.scroll-nav .nav-center ul li a {
	color: #999;
	font-size: 14px;
}
.scroll-nav .nav-center ul li:hover a {
	color: #f30;
}
.scroll-nav .nav-center .k_good {
	float: left;
	margin-right: 30px;
}
.scroll-nav .nav-center .k_good a.btnDC {
	width: 168px;
	background-color: #ff4415;
	display: block;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	height: 44px;
	margin-top: 8px;
	line-height: 44px;
}
.scroll-nav .nav-center .tel-img {
	float: left;
}
.scroll-nav .nav-center .tel-img img {
	margin-top: 18px;
}

.nevi-cars { padding-bottom: 67px;}
/* 计算器样式 */
.modals-ul {
    padding: 10px 30px 30px;
}
.modals-header, .modals-num, .modals-tip, .modals-ul {
    box-sizing: content-box;
}
.modals-ul li {
    color: rgb(169, 169, 169);
    padding: 8px 0;
}
.modals-ul li .money::before{
	color: rgb(169, 169, 169);
    content: "￥";
}
.modals-ul li span {
    color: rgb(255, 140, 88);
    float: right;
}
