meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name='renderer', content='webkit')
meta(name='keywords', content='xx')
meta(name='description', content='xx')
meta(name='x5-page-mode', content='app')
meta(name='x5-orientation', content='portrait')
meta(name='layoutmode', content='standard')
meta(name='mobile-web-app-capable', content='yes')
meta(name='browsermode', content='application')
meta(name='screen-orientation', content='portrait')
meta(name='format-detection', content='telephone=no')
meta(name='apple-mobile-web-app-title', content='xx')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')