doctype html
html
	head
		title= title
		block link
			link(rel='stylesheet', href='/less/less.css')
		block head
			script(src='/js/lib/angular.min.js')
			script(src='/js/lib/jquery-2.1.1.js')
			script(src='/js/app.js')

	body
		block content
		block footer
