div#top
    div#menu
        ul
            li
                a(href="/") 首页
            li
                a(href="/ejs") 博文
            li
                a(href="/ejs2") 随笔
            li
                a(href="/jade") 管理