.title{color: #8C8A8A;padding:1.5rem 1.1rem .2rem;color: #8C8A8A;}
.hot_carmodel{display: block;padding:0 1.1rem;background-color: white;}
.hot_carmodel >li{display: block;padding: 1.0rem 0;border-bottom: 1px solid #EFEFF4;}
.hot_carmodel img{width: 6rem;height: 4rem;}
.hot_carmodel .carmodel_logo,.hot_carmodel .carmodel_name{display: table-cell;vertical-align: middle;font-size: 1.2rem;}
.hot_carmodel .carmodel_name{padding-left: 1rem;}
.pri_info{font-size: .8rem;color: #8C8A8A;}
.list{display: block;width: 100%;}
.carmodel_list{display: block;padding-left: 1.1rem;background-color: white;}
.carmodel_list >li{display: block;padding: 1.0rem 0;border-bottom: 1px solid #EFEFF4;}
.carmodel_list img{width: 6rem;height: 4rem;}
.carmodel_list .carmodel_logo,.carmodel_list .carmodel_name{display: table-cell;vertical-align: middle;font-size: 1.2rem;}
/*.carmodel_list .carmodel_name{padding-left: 2.1rem;}*/